@import '../styles/variables.scss';

.landingpage {
    position: relative;
    height: 106vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    &__navbar {
        position: absolute;
        right: 5rem;
        top: 14rem;

    }

    &__box {
        margin-left: 5rem;
        margin-top: 14rem;

        @media only screen and (max-width: $bp-large) {
            margin-top: 25rem;
        }

        @media only screen and (max-width: $bp-mobile-big) {
            margin-left: 3rem;
       }
    }

    &__header {
        color: $color-yellow;
        -webkit-text-stroke: 1rem black;
        font-size: 16rem;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: -4rem;

        @media only screen and (max-width: $bp-mobile-big) {
            font-size: 11rem;
            -webkit-text-stroke: 0.6rem black;
            margin-bottom: -3rem;
       }
       @media only screen and (max-width: $bp-mobile-small) {
        font-size: 9rem;
        -webkit-text-stroke: 0.6rem black;
        margin-bottom: -2rem;
   }
    }

    &__line {
        width: 70vw;
        height: 3rem;
        background-color: $color-black;
        clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);

        @media only screen and (max-width: $bp-mobile-big) {
            height: 2rem;
            width: 90vw;
        }
    }

    &__text {
        font-size: 4rem;
        font-style: italic;
        font-weight: 400;
        text-transform: uppercase;

        @media only screen and (max-width: $bp-mobile-big) {
            font-size: 3rem;
        }

        @media only screen and (max-width: $bp-mobile-small) {
            font-size: 2.2rem;
        }
    }

}