$font-basic: 'Rubik', sans-serif;

$color-yellow: #DBFF00;
$color-black: #000;
$color-grey: #949494;
$color-white: #fff;
$color-red: #FF2C2C;


$bp-largest: 118.75em; // 1900 1900/16 = 118.75em
$bp-large: 100em;
$bp-medium-large: 68.75em;
$bp-medium: 53.125em;
$bp-small: 40.625em;

$bp-mobile-big: 26.25em;
$bp-mobile-small: 20.625em;
$bp-mobile-mini: 17.5em;

$w-mobile-big: 50em;