$font-basic: 'Rubik', sans-serif;

$color-yellow: #DBFF00;
$color-black: #000;
$color-grey: #949494;
$color-white: #fff;
$color-red: #FF2C2C;


$bp-largest: 118.75em; // 1900 1900/16 = 118.75em
$bp-large: 100em;
$bp-small: 40.625em;
$bp-mobile: 22.5em;

$sh-small: 46.875em;
$sh-mobile: 40.625em;