@import '../styles/variables.scss';


.navbar {
    width: 20rem;
    position: absolute;
    right: 5rem;
    top: 14rem;
    z-index: 1000;

    

    @media only screen and (max-width: $bp-mobile-big) {
        width: 25rem;
    }

    @media only screen and (max-height: $bp-mobile-big) {
        top: 12;
    }

    @media only screen and (max-height: $bp-small) {
        width: 35rem;        
    }

    @media only screen and (max-height: $bp-mobile-small) {
        right: 4rem;
        top: 10rem;
    }


    &__box {
        height: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        float: right;
        cursor: pointer;
        transform: rotate(180deg);

        

        &:hover {
            .navbar__line  {
                width: 8rem;
                transition: all .2s;
            }
        }
    }

    &__line-active {
        width: 8rem;
        background-color: $color-black;
        height: 0.8rem;
    }

    &__line {

        &-1 {
            background-color: $color-black;
            height: 0.8rem;
            width: 6.5rem;
        }

        &-2 {
            background-color: $color-black;
            height: 0.8rem;
            width: 8rem;
        }

        &-3 {
            background-color: $color-black;
            height: 0.8rem;
            width: 5rem;
        }
        
    }

    &__list {
        list-style: none;
        padding: 1rem;

        @media only screen and (max-width: $bp-mobile-big) {
            margin-top: -1rem;
            width: 25rem;
            text-align: center;
        }

        @media only screen and (max-height: $bp-mobile-small) {
            position: absolute;
            top: 0;
            right: 10rem;
            width: 20rem;
            background-color: rgba($color-yellow, 0.8);
        }
    }

    &__item {
        font-size: 2.5rem;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;

        background: linear-gradient(to right, rgba($color-red, 0.8) 50%, rgba($color-yellow, 0.1) 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .5s ease-out;


        @media only screen and (max-width: $bp-mobile-big) {
            font-size: 3.2rem;
            padding-top: .4rem;
            padding-bottom: .4rem;
            background: none;
            transition: none;
        }

        @media only screen and (max-height: $bp-mobile-big) {
            font-size: 1.6rem;
            transition: none;
        }

        @media only screen and (max-height: $bp-mobile-small) {
            font-size: 1.4rem;
            width: 100%;
        }


        


        &:hover {
            background-position: left bottom;

            @media only screen and (max-width: $bp-mobile-big) {
                background-position: center;
            }
        }
    }

    &__content {
        background-color: rgba($color-yellow, 0.8);
        font-size: 2rem;
        font-weight: 400;
        margin-top: 8rem;
        text-align: center;
        border-radius: 2rem;

        @media only screen and (max-height: $bp-small) {
            margin-top: 0;        
            margin-right: 10rem;
        }

        @media only screen and (max-height: $bp-mobile-small) {
            border-radius: 2rem;
        }
    }
}
